html, body {
    height: 90%;
}

body{
    background-color: #b862bf;
}

#logoImg{   
    display: inline;
    position: absolute;
}

/*
    Верхняя панель
*/

#headerDiv{
/*     position: -webkit-sticky;
    position: sticky;
    top: 0; */
}

#menuTopBar{          
    width: 80%;
    margin-left: 15%;
    overflow: auto;  
}

.menuTopBarElem, .dropdown-content, .menuTopBarElemSelected{
    float: right;
    overflow: hidden;
    display: inline-block; 
    margin: 10px; 
    /* margin-top: 5px;  */
}

.menuTopBarElem a, .dropbtn , .dropdown-content a, .menuTopBarElemSelected a{
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-size: 22px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 26.4px; 

    display: inline-block;
    color: #f099f7; 
    text-decoration: none;
    transform: scale(1,1);

/*     margin:4px;
    padding: 8px 10px; */

    transition-property: transform;
    transition-duration: .75s;
}

.dropdown-content{
    display: none;
    z-index: 1;
    position: absolute;
    min-width: 185px;
}

.dropdown-content a:first-child{
    margin-top: -10px;
}

.dropdown-content a{
    display: block;
    margin-left: 25px;
    margin-top: -10px;
}

.menuTopBarElemSelected a{
    color: #633967;
    pointer-events: none;
}

.menuTopBarElem a:hover{
    color: #fac7ff;
    transform: scale(1.05,1.05);
    transition-duration: .5s;
}

.dropdown-content a:hover {
    color: #fac7ff;
}

.menuTopBarElem:hover .dropdown-content {
    display: none;/* block; */
}

/*
    Наполнение страницы
*/

.custom-table{
	display: table;
    width: 100%;

/* 	border: 5px solid red; */
}

.custom-row{
	display: table-row;
    margin: auto; 
}


.custom-cell{
    display: table-cell;
    width: 50%;
    margin: auto;

/*     border: 3px solid green; */
}


#bodyDiv{

}

.bodyText{
    position: relative;
    float: right;
    margin-top: 175px;
    margin-right: 200px;

    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-size: 135px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 120px; 

    display: inline-block;
    color: #f099f7; 
    text-decoration: none;
    
/*     padding: 0px 10px; 
    margin: 84px; 
    margin-top: 160px; 
    margin-left: -100px */
}

/* .bodyText div{
    padding: 45px 0px;
    position: relative;

    top: 0;
    left: 0;
} */

.bodyCircle{
    position: relative;
    display: inline-block; 
    width: 400px;
	height: 400px;
	background: #f099f7;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
    border-radius: 50%;
    
    top: 0;
    left: 0;
}

.mainCircleMeme{
    overflow: hidden;
    position: relative;
    display: inline-block; 
    width: 400px;
    height: 400px;    
    clip-path: circle(50% at center);
    margin-bottom: -90px;  /* affects .bodyCircle */

    top: 0;
    left: 0;
}

.mainCircleMemeTop{
    position: absolute;
    display: inline-block; 
    width: 400px;
    height: 400px;    
    clip-path: none;

    top: 0;
    left: 0;
}